<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Add Recipe</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!--Custom css-->
    <link href="/css/custom-style.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-top-custom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse mr-auto mt-1 mb-1" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto col-3">
                <a class="btn navbar-brand navbar-button-custom text-white" th:href="@{/}">CookBook</a>
                <div class="dropdown">
                    <button class="btn navbar-brand navbar-button-custom dropdown-toggle text-white" type="button" id="categoriesDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/recipes/maindish/1">Main Dishes</a>
                        <a class="dropdown-item" href="/recipes/soup/1">Soups</a>
                        <a class="dropdown-item" href="/recipes/salad/1">Salads</a>
                        <a class="dropdown-item" href="/recipes/cake/1">Cakes</a>
                        <a class="dropdown-item" href="/recipes/dessert/1">Desserts</a>
                        <a class="dropdown-item" href="/recipes/other/1">Other</a>
                    </div>
                </div>
            </div>
            <div class="navbar-nav mr-auto col-7">
                <form class="input-group" th:action="@{/searchRecipe/page=1}" method="get">
                    <input style="width: 50%" type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" name="searchedRecipeName">
                    <select class="custom-select" id="inputGroupSelect01" name="searchedCategory">
                        <option selected value="All">All Categories</option>
                        <option value="Main dish">Main dish</option>
                        <option value="Soup">Soups</option>
                        <option value="Salad">Salads</option>
                        <option value="Cake">Cakes</option>
                        <option value="Dessert">Desserts</option>
                        <option value="Other">Others</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary text-light" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="navbar-nav mr-auto">
                <a sec:authorize="isAnonymous()" role="button" class="btn btn-primary ml-3 mr-3" th:href="@{signIn}"> Login</a>
                <div sec:authorize="isAuthenticated()" class="dropdown">
                    <button class="btn navbar-button-custom dropdown-toggle" type="button" id="accountDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Account
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" th:href="@{/profile/myCookBook/all/1}">My CookBook</a>
                        <a class="dropdown-item" href="#">Profile settings</a>
                        <a class="dropdown-item" th:href="@{/addRecipe}">Add recipe</a>
                        <a class="dropdown-item" th:href="@{/logout}">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <!--<div class="offset-3 col-6" style="margin-top:20px">-->
    <div class="offset-1 col-10 mt-5">
        <ul class="nav nav-tabs" id="addRecipeTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="generalInfo-tab" data-toggle="tab" href="#generalInfo" role="tab" aria-controls="generalInfo" aria-selected="true">General info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="ingredients-tab" data-toggle="tab"  href="#ingredients" role="tab" aria-controls="ingredients" aria-selected="false">Ingredients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="steps-tab" data-toggle="tab" href="#steps" role="tab" aria-controls="steps" aria-selected="false">Steps</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="false">Images</a>
            </li>
        </ul>
        <form id="addRecipeForm" th:action="@{/addRecipe}" th:method="post" th:object="${recipe}">
            <div class="tab-content" id="addRecipeTabContent">
                <div class="tab-pane show active mt-2" id="generalInfo" role="tabpanel" aria-labelledby="generalInfo-tab">
                    <div class="form-group">
                        <label for="recipeNameInput">Recipe Name</label>
                        <input type="text" class="form-control" placeholder="Name" id="recipeNameInput" th:field="*{name}" required/>
                        <small class="form-text text-muted"> 4-100 characters</small>
                    </div>
                    <div class="row">
                        <div class="form-group col-4">
                            <label for="categorySelection">Recipe category</label>
                            <select class="form-control custom-input" id="categorySelection" th:field="*{category}">
                                <option value="Main dish">Main Dish</option>
                                <option value="Soup">Soup</option>
                                <option value="Salad">Salad</option>
                                <option value="Cake">Cake</option>
                                <option value="Dessert">Dessert</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group col-4">
                            <label for="diffiultySelection">Recipe difficulty</label>
                            <select class="form-control custom-input" id="diffiultySelection" th:field="*{difficulty}">
                                <option th:value="Easy">Easy</option>
                                <option th:value="Medium">Medium</option>
                                <option th:value="Hard">Hard</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" form-group col-4">
                            <label for="preparationTimeInput" style="margin-top:8px; margin-right: 10px">Preparation time in minutes:</label>
                            <input id="preparationTimeInput" class="form-control" type="number" placeholder="0" th:field="*{preparationTime}"/>
                        </div>
                        <div class=" form-group col-4">
                            <label for="servingsInput" style="margin-top:8px; margin-right: 10px">Servings:</label>
                            <input id="servingsInput" class="form-control" type="number" placeholder="0" th:field="*{servings}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="descriptionInput">Description</label>
                        <textarea class="form-control" rows="5" id="descriptionInput" th:field="*{description}"></textarea>
                    </div>

                </div>
                <div class="tab-pane mt-2" id="ingredients" role="tabpanel" aria-labelledby="ingredients-tab">
                    <div class="row">
                        <div class="col-12">
                            <div id="ingredientGroup">
                                <div class="form-inline ingredientbar">
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input class="form-control ing" placeholder="name" type="text"/>
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input class="form-control val" placeholder="amount"  type="text"/>
                                    </div>
                                </div>
                            </div>
                            <input id="jsonIngredients" type="hidden" th:field="*{jsonIngredientList}" name="ingredientNames" value="">
                            <button id="addIngredient" type="button" class="offset-4 col-4 vtn btn-default mt-4">Add new ingredient</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane mt-2" id="steps" role="tabpanel" aria-labelledby="steps-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12" id="stepGroup">
                                <div class="form-inline offset-2 col-6 stepbar">
                                    <div class="form-group mx-sm-3 mb-2">
                                         <textarea class="form-control descr" rows="4" placeholder="Step"></textarea>
                                    </div>
                                </div>
                            </div>
                            <input id="jsonSteps" type="hidden" th:field="*{jsonStepsList}" name="stepsNames" value="">
                            <button id="addSteps" type="button" class="offset-4 col-4 vtn btn-default mt-4">Add new step</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane mt-2" id="images" role="tabpanel" aria-labelledby="images-tab">
                    <div class="row">
                        <div class="col-12 image-group">
                            <input class="form-control recipe-image mx-sm-3 mb-2" type="text" placeholder="image URL"/>
                        </div>
                        <div class="col-12 image-group">
                            <input class="form-control recipe-image mx-sm-3 mb-2" type="text" placeholder="image URL"/>
                        </div>
                        <div class="col-12 image-group">
                            <input class="form-control recipe-image mx-sm-3 mb-2" type="text" placeholder="image URL"/>
                        </div>
                        <input id="jsonImages" type="hidden" th:field="*{jsonImagesList}" name="json-img" value="">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn custom-red-button-logo btn-success" style="margin-bottom: 5px;">Add recipe</button>
        </form>
    </div>
</div>





<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/webjars/popper.js/1.14.1/popper.js"></script>
<script src="js/add-recipe.js"></script>
</body>
</html>