<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CookBook</title>

    <!-- Bootstrap core CSS -->
    <link href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!--Custom css-->
    <link href="/css/custom-style.css" rel="stylesheet">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light navbar-top-custom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse mr-auto mt-1 mb-1" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto col-3">
                <a class="btn navbar-brand navbar-button-custom text-white" th:href="@{/}">CookBook</a>
                <a class="btn navbar-brand navbar-button-custom text-white" th:href="@{/addRecipe}">Add Recipe +</a>
            </div>
            <div class="navbar-nav mr-auto col-7">
                <form class="input-group" th:action="@{/searchRecipe}" method="POST">
                    <input style="width: 50%" type="text" class="form-control" placeholder="" aria-label=""
                           aria-describedby="basic-addon1" name="searchedRecipeName">
                    <select class="custom-select" id="inputGroupSelect01" name="searchedCategory">
                        <option selected value="All">All Categories</option>
                        <option value="Main dish">Main dish</option>
                        <option value="Soups">Soups</option>
                        <option value="Salads">Salads</option>
                        <option value="Cakes">Cakes</option>
                        <option value="Desserts">Desserts</option>
                        <option value="Others">Others</option>

                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-primary text-light" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="navbar-nav mr-auto col-2">
                <a>Login</a>
            </div>
        </div>
    </div>
</nav>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>